@model GiveOnline.Models.Carousel
@{
    ViewBag.Title = "Carousel_Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form action="/Admin/Carousel_Edit/@Model.Id" enctype="multipart/form-data" method="post" id="categoryEdit">

    <div class="form-group">
        <label for="title">Caption</label>
        <input class="form-control" type="text" id="title" name="title" value="@Model.Title" />
    </div>

    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input class="form-control" type="File" id="imageUrl" name="imageUrl" value="@Model.ImageUrl" />
    </div>

    <input type="hidden" name="Id" value="@Model.Id" />

    <button class="btn btn-success" type="submit">Submit</button>
</form>
