@model GiveOnline.Models.NewsLetter
@{
    ViewBag.Title = "News_Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<legend>Send Email </legend>

@using (@Html.BeginForm("News_Create", "MailSender", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
{ @Html.ValidationSummary() <input type="submit" value="Send" />



<table>
    <tbody>
        <tr>
            <td>Subject:</td>
            <td>@Html.TextBoxFor(m => m.Subject)</td>
        </tr>
        <tr>
            <td>Attachment</td>
            <td><input name="fileUploader" type="file" /></td>
        </tr>
        <tr>
            <td>Body:</td>
            <td>@Html.TextAreaFor(m => m.Body)</td>
        </tr>
    </tbody>
</table>

}